.user-table-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.user-table-header__left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-table-header__right{
    display: flex;
    align-items: center;
    gap: 10px;
}